* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #1111;
    text-transform: uppercase;
}

footer {
    color: #666;
}